body {
  background-color: #0b061d;
}
div.error {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}
div.error img {
  width: 650px;
  animation: up-down 3s infinite;
}
/*-----------------Start Animation-----------------*/
@keyframes up-down {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}
/*-----------------End Animation-----------------*/
